<% @body_id = 'product-details' %>
<h1><%= accurate_title %></h1>

<div id="sider">
<%= hook :cart_form do %>
  <div id="cart-form">
    <%= render 'cart_form' %>
  </div>
<% end %>

<%= render 'taxons' %>
</div>

<div id="product-images">
  <%= hook :product_images do %>
  <div id="main-image">
    <%= render 'image' %>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product %>
  </div>
  <% end %>
</div>

<div id="product-description">
  <%= hook :product_description do %>
    <%= product_description(@product) rescue t("product_has_no_description") %>
  <% end %>
  <%= hook :product_properties do %>
    <%= render 'properties' %>
  <% end %>

  <div id="social-buttons">
    <a href="https://twitter.com/share"
       class="twitter-share-button"
       data-text="<%=@product.name %>"
       data-count="horizontal"
       data-via="megustastoremx"
       data-lang="<%= I18n.locale || 'es' %>">Tweet</a>
    <script type="text/javascript"
	    src="//platform.twitter.com/widgets.js"></script>

    <script type="text/javascript" 
	    src="https://apis.google.com/js/plusone.js">{lang: 'es-419'}</script>
    <g:plusone size="medium" href="<%= request.url %>"></g:plusone>

    <div class="fb-like" 
	 data-send="false" 
	 data-layout="button_count" 
	 data-width="100" 
	 data-show-faces="true"></div>

  </div>

  <div class="fb-comments" 
       data-href="megustastore.com"
       data-num-posts="2"
       data-width="450"></div>
</div>
